
mongodb:

  ## No pillar data supported ##

  ## minimal pillar data for GNU/Linux ##
  server:
    ### these are mutually exclusive ###
    use_repo: True
    version: 4.0
    #use_archive: True
    #version: 4.0.3
  bic:
    version: 2.7.0
  robo3t:
    version: 1.2.1

  ## more advanced pillar data (from 'defaults.yaml')
  system:
    userhome: /home
    use_firewalld: False
    use_selinux: False
    pidpath: /var/run/mongodb
    deps:
      - curl
      - openssl
  dl:
    interval: 60
    retries: 2
    tmpdir: /tmp/mongodbtmp

  robo3t:
    url: https://download.robomongo.org/1.2.1/linux/robo3t-1.2.1-linux-x86_64-3e50a65.tar.gz
    source_hash: sha512=ead2c4847dc1cd4024f60f34a142af6c6818f90a37b5ae075c8b65414ee8ca8074355446c9e264094f776f7798bfba37a7c7018f94d0bec109715061ab3a57c3

  server:
    package: mongodb-org
    version: 4.0
    use_repo: False
    use_archive: False
    use_schema: False
    disable_transparent_hugepages: true
    binpath: /usr    #could be /usr/local/mongodb when use_archive=true
    user: mongodb
    group: mongodb
    mongod:
      service: mongod
      shortcut: false
      package: mongodb-org-server
      conf_path: /etc/mongod.conf
      conf:
        systemLog:
          logAppend: False
          destination: file
          path: /var/log/mongodb/mongod.log
        storage:
          dbPath: /var/lib/mongodb/mongod
          journal:
            enabled: true
        replication:
          replSetName: "rs1"
        sharding:
          clusterRole: shardsvr
        net:
          bindIp: {{ grains.ipv4[-1] or grains.ipv6[-1] }}
          port: 27018
        processManagement:
          timeZoneInfo: /usr/share/zoneinfo
          fork: true
          pidFilePath: /var/run/mongodb/mongod.pid
      systemd:
        file: /usr/lib/systemd/system/mongod.service
        conf:
          Type: forking
          LimitFSIZE: infinity
          LimitCPU: infinity
          LimitAS: infinity
          LimitNOFILE: 64000
          LimitNPROC: 64000
          LimitMEMLOCK: infinity
          TasksMax: infinity
          TasksAccounting: false

    mongos:
      service: mongos
      shortcut: false
      package: mongodb-org-mongos
      conf_path: /etc/mongos.conf
      conf:
        systemLog:
          destination: file
          path: /var/log/mongodb/mongos.log
        processManagement:
          timeZoneInfo: /usr/share/zoneinfo
          fork: true
          pidFilePath: /var/run/mongodb/mongos.pid
        net:
          bindIp: {{ grains.ipv4[-1] or grains.ipv6[-1] }}
          port: 28017
        sharding:
          configDB: 'rs1/{{ grains.ipv4[-1] or grains.ipv6[-1] }}:27018'
      systemd:
        file: /usr/lib/systemd/system/mongos.service
        conf:
          Type: simple
          LimitFSIZE: infinity
          LimitCPU: infinity
          LimitAS: infinity
          LimitNOFILE: 64000
          LimitNPROC: 64000
          LimitMEMLOCK: infinity
          TasksMax: infinity
          TasksAccounting: false
    shell:
      package: mongodb-org-shell
      mongorc: /etc/mongorc.js
    tools:
      package: mongodb-org-tools

  bic:
    version: 2.7.0
    use_repo: False
    use_archive: true
    use_schema: True
    binpath: /usr/local/bic
    user: mongodb
    group: mongodb
    mongosqld:
      service: mongosqld
      shortcut: false
      conf_path: /etc/mongosqld.conf
      conf:
        systemLog:
          logAppend: true
          path: /var/log/mongodb/mongosqld.log
        schema:
          path: /etc/mongosqld/schema
        security:
          enabled: false
        mongodb:
          net:
            uri: '{{ grains.ipv4[-1] or grains.ipv6[-1] }}:27018'
            #auth:
            #  username: root
            #  password: changeme
        net:
          bindIp: {{ grains.ipv4[-1] or grains.ipv6[-1] }}
          port: 3307
      systemd:
        file: /usr/lib/systemd/system/mongosqld.service
        conf:
          Type: simple
          LimitFSIZE: infinity
          LimitCPU: infinity
          LimitAS: infinity
          LimitNOFILE: 64000
          LimitNPROC: 64000
          LimitMEMLOCK: infinity
          TasksMax: infinity
          TasksAccounting: false

