########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes may be overwritten.
########################################################################

export PATH=${PATH}:{{ path }}
{{ environ|yaml(False) }}
