#!/usr/bin/env bash

Source="{{ appdir }}/{{ appname }}.app"
Destination="{{ homes }}/{{ user }}/Desktop"
diskutil resetUserPermissions / {{ user }}
/usr/bin/osascript -e "tell application \"Finder\" to make alias file to POSIX file \"$Source\" at POSIX file \"$Destination\""
