#########################################################
# File managed by Salt. Changes risk being overwritten.
#########################################################
[Unit]
Description=MongoDB {{ svc }} service
After=network.target
Documentation=https://docs.mongodb.org/manual

[Service]
User={{ mongodb.user }}
Group={{ mongodb.group }}
EnvironmentFile=-/etc/sysconfig/{{ svc }}
ExecStart={{ binpath }}/bin/{{ svc }} --config {{ mongodb[svc]['conf_path'] }}
ExecStartPre=/bin/mkdir -p {{ pidpath }}
ExecStartPre=/bin/chown {{ mongodb.user }}:{{ mongodb.group }} {{ pidpath }}
ExecStartPre=/bin/chmod 0755 {{ pidpath }}
PermissionsStartOnly=true
PIDFile={{ pidpath }}/{{ svc }}.pid
Type={{ mongodb[svc]['systemd']['conf']['Type'] }}
# file size
LimitFSIZE={{ mongodb[svc]['systemd']['conf']['LimitFSIZE'] }}
# cpu time
LimitCPU={{ mongodb[svc]['systemd']['conf']['LimitCPU'] }}
# virtual memory size
LimitAS={{ mongodb[svc]['systemd']['conf']['LimitAS'] }}
# open files
LimitNOFILE={{ mongodb[svc]['systemd']['conf']['LimitNOFILE'] }}
# processes/threads
LimitNPROC={{ mongodb[svc]['systemd']['conf']['LimitNPROC'] }}
# locked memory
LimitMEMLOCK={{ mongodb[svc]['systemd']['conf']['LimitMEMLOCK'] }}
# total threads (user+kernel)
TasksMax={{ mongodb[svc]['systemd']['conf']['TasksMax'] }}
TasksAccounting={{ mongodb[svc]['systemd']['conf']['TasksAccounting'] }}
# Recommended limits for for mongod as specified in
# http://docs.mongodb.org/manual/reference/ulimit/#recommended-settings

[Install]
WantedBy=multi-user.target
