{%- from "mongodb/map.jinja" import mdb with context -%}

# This file is managed by Salt!

{% if 'mongod_settings' in mdb -%}

# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

{{ mdb.mongod_settings | yaml(false) }}

{%- else -%}

# mongodb.conf

# Where to store the data.
dbpath={{ mdb.db_path }}

# Where to log.
logpath={{ mdb.log_path }}/mongodb.log

logappend={{ mdb.settings.log_append | yaml_encode() }}

bind_ip = {{ mdb.settings.bind_ip }}
port = {{ mdb.settings.port }}

# Enable journaling, http://www.mongodb.org/display/DOCS/Journaling
journal={{ mdb.settings.journal | yaml_encode() }}

    {%- if mdb.settings.configsvr %}

configsvr={{ mdb.settings.configsvr }}

    {%- elif mdb.settings.shardsvr %}

shardsvr={{ mdb.settings.shardsvr }}

    {%- endif %}

    {%- if mdb.settings.replSet and not mdb.settings.configsvr %}
replSet = {{ mdb.replica_set.name }}
    {%- endif %}

    {%- if mdb.settings.rest %}

rest={{ mdb.settings.rest }}

    {%- endif %}

{% for k, v in mdb.settings.set_parameter | default({}) | dictsort() %}
setParameter = {{ k }}={{ v }}
{%- endfor %}

{%- endif %}
