{% from "mongodb/map.jinja" import mdb with context -%}
# This file is managed by Salt!

bind_ip = {{ mdb.settings.bind_ip }}
port = {{ mdb.settings.port }}
dbpath = {{ mdb.db_path }}
logpath = {{ mdb.log_path }}/mongodb.log

{% if mdb.replica_set.name -%}
replSet = {{ mdb.replica_set.name }}
{% endif %}

{% if mdb.storage_engine -%}
storageEngine = {{ mdb.storage_engine }}
{% endif %}

{% if mdb.config_svr == True %}
configsvr=true
{% endif %}

{% if mdb.shard_svr == True %}
shardsvr=true
{% endif %}
