#########################################################
# File managed by Salt. Changes risk being overwritten.
#########################################################
export MONGODB_BIC_PATH={{ bicpath or '' }}
export MONGODB_PATH={{ srvpath }}
export PATH=${PATH}:${MONGODB_BIC_PATH}/bin:${MONGODB_PATH}/bin
