#########################################################
# File managed by Salt. Changes risk being overwritten.
#########################################################
# MongoDB {{ svc }}.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/
#   https://docs.mongodb.com/bi-connector/current/reference/mongosqld/#configuration-file

{{ mongodb[component][svc]['conf'] | yaml(false) }}
